# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
# API URL cho web (trỏ về server backend)
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_WS_URL=ws://localhost:3000

# TURN/STUN cho WebRTC
NEXT_PUBLIC_TURN_USERNAME=zync
NEXT_PUBLIC_TURN_PASSWORD=change_me_turn_password
NEXT_PUBLIC_TURN_URLS=
